# 1. Business Understanding

I decided to explore the 2014-2016 Ebola Outbreak Dataset in light of the Coronavirus pandemic. I downloaded the dataset from Kaggle. The Ebola Outbreak started in 2013 and I wanted to see the correlation between location and number of suspected, probable, and confirmed cases and deaths. I will answer three questions from this dataset.

They are the following:

1. What were the percentage breakdowns for each continent for suspected, probable, and confirmed Ebola deaths?

2. What were the increases in suspected, probable, and confirmed Ebola cases?

3. Which country had the highest number of Ebola cases and Ebola deaths?

# 2. Data Understanding

In [14]:
# Import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [15]:
# Load datasets
ebola = pd.read_csv('ebola_2014_2016_clean.csv')
ebola_db = pd.read_csv('ebola_data_db_format.csv')

In [16]:
ebola.head(10)

,Country,Date,No. of suspected cases,No. of probable cases,No. of confirmed cases,"No. of confirmed, probable and suspected cases",No. of suspected deaths,No. of probable deaths,No. of confirmed deaths,"No. of confirmed, probable and suspected deaths"
0,Guinea,2014-08-29,25.0,141.0,482.0,648.0,2.0,141.0,287.0,430.0
1,Nigeria,2014-08-29,3.0,1.0,15.0,19.0,0.0,1.0,6.0,7.0
2,Sierra Leone,2014-08-29,54.0,37.0,935.0,1026.0,8.0,34.0,380.0,422.0
3,Liberia,2014-08-29,382.0,674.0,322.0,1378.0,168.0,301.0,225.0,694.0
4,Sierra Leone,2014-09-05,78.0,37.0,1146.0,1261.0,11.0,37.0,443.0,491.0
5,Nigeria,2014-09-05,3.0,1.0,18.0,22.0,0.0,1.0,7.0,8.0
6,Liberia,2014-09-05,369.0,888.0,614.0,1871.0,257.0,401.0,431.0,1089.0
7,Guinea,2014-09-05,56.0,152.0,604.0,812.0,3.0,152.0,362.0,517.0
8,Senegal,2014-09-05,NaN,NaN,1.0,1.0,NaN,NaN,0.0,0.0
9,Senegal,2014-09-08,2.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0

In [17]:
ebola.tail(10)

,Country,Date,No. of suspected cases,No. of probable cases,No. of confirmed cases,"No. of confirmed, probable and suspected cases",No. of suspected deaths,No. of probable deaths,No. of confirmed deaths,"No. of confirmed, probable and suspected deaths"
2475,Sierra Leone,2016-03-23,5131.0,287.0,8704.0,14122.0,158.0,208.0,3589.0,3955.0
2476,Senegal,2016-03-23,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2477,Mali,2016-03-23,0.0,1.0,7.0,8.0,NaN,NaN,NaN,6.0
2478,United Kingdom,2016-03-23,0.0,0.0,1.0,1.0,NaN,NaN,NaN,0.0
2479,Liberia,2016-03-23,NaN,NaN,9.0,9.0,NaN,NaN,3.0,3.0
2480,Liberia,2016-03-23,5636.0,1879.0,3151.0,10666.0,NaN,NaN,NaN,4806.0
2481,Italy,2016-03-23,0.0,0.0,1.0,1.0,NaN,NaN,NaN,0.0
2482,Liberia,2016-03-23,0.0,3.0,2.0,5.0,NaN,3.0,1.0,4.0
2483,Nigeria,2016-03-23,0.0,1.0,19.0,20.0,0.0,1.0,7.0,8.0
2484,United States of America,2016-03-23,0.0,0.0,4.0,4.0,0.0,0.0,1.0,1.0

In [18]:
ebola.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2485 entries, 0 to 2484
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Country                                          2485 non-null   object
 1   Date                                             2485 non-null   object
 2   No. of suspected cases                           2366 non-null   float64
 3   No. of probable cases                            2436 non-null   float64
 4   No. of confirmed cases                           2484 non-null   float64
 5   No. of confirmed, probable and suspected cases   2477 non-null   float64
 6   No. of suspected deaths                          1308 non-null   float64
 7   No. of probable deaths                           1526 non-null   float64
 8   No. of confirmed deaths                          1648 non-null   float64
 9   No. of confirmed, probable and suspected deaths  2485 non-null   float64
dtypes: float64(8), object(2)
memory usage: 194.3+ KB

In [19]:
ebola_db.head(10)

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0
5,Cumulative number of confirmed Ebola deaths,Guinea,2015-03-10,1778.0
6,Cumulative number of probable Ebola deaths,Guinea,2015-03-10,392.0
7,"Cumulative number of confirmed, probable and s...",Liberia,2015-03-10,9343.0
8,Cumulative number of confirmed Ebola cases,Liberia,2015-03-10,3150.0
9,Cumulative number of probable Ebola cases,Liberia,2015-03-10,1879.0

In [20]:
ebola_db.tail(10)

,Indicator,Country,Date,value
17575,Cumulative number of suspected Ebola deaths,Senegal,2016-03-23,0.0
17576,"Cumulative number of confirmed, probable and s...",Senegal,2016-03-23,0.0
17577,Cumulative number of confirmed Ebola deaths,Spain,2016-03-23,0.0
17578,Cumulative number of probable Ebola deaths,Spain,2016-03-23,0.0
17579,Cumulative number of suspected Ebola deaths,Spain,2016-03-23,0.0
17580,"Cumulative number of confirmed, probable and s...",Spain,2016-03-23,0.0
17581,Cumulative number of confirmed Ebola deaths,United States of America,2016-03-23,1.0
17582,Cumulative number of probable Ebola deaths,United States of America,2016-03-23,0.0
17583,Cumulative number of suspected Ebola deaths,United States of America,2016-03-23,0.0
17584,"Cumulative number of confirmed, probable and s...",United States of America,2016-03-23,1.0

In [21]:
ebola_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17585 entries, 0 to 17584
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Indicator  17585 non-null  object
 1   Country    17585 non-null  object
 2   Date       17585 non-null  object
 3   value      17585 non-null  float64
dtypes: float64(1), object(3)
memory usage: 549.7+ KB

In [22]:
ebola.isnull().sum()

Country                                               0
Date                                                  0
No. of suspected cases                              119
No. of probable cases                                49
No. of confirmed cases                                1
No. of confirmed, probable and suspected cases        8
No. of suspected deaths                            1177
No. of probable deaths                              959
No. of confirmed deaths                             837
No. of confirmed, probable and suspected deaths       0
dtype: int64

In [23]:
ebola_db.isnull().sum()

Indicator    0
Country      0
Date         0
value        0
dtype: int64

In [26]:
ebola['Country'].value_counts()

Liberia                     365
Guinea                      259
Sierra Leone                259
Nigeria                     255
Senegal                     254
United States of America    245
Mali                        243
Spain                       243
United Kingdom              221
Italy                       141
Name: Country, dtype: int64

# 3. Data Preparation

In [33]:
# Fill in missing data with zeros
ebola.fillna(0, inplace = True)
ebola_db.fillna(0, inplace = True)

# 4. Analysis and Solutions